<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>500 Service Temporarily Unavailable</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="moeCN" />
	<meta name="keywords" content="IPv6,OpenVPN,L2TP,PPTP,VPN" />	
	<meta name="Distribution" content="Global" />
	<meta name="Robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" media="screen" />
</head>
<body>
	<div id="wrapper">
		<div id="logo">
			<h1>moeCN.net</h1>
		</div>
		<p id="top">IPv4/IPv6 VPN Service</p>
		
		<ul id="menu">
			<li><a class="current" href="/" title="首页">首页</a></li>
			<li><a href="/login/" title="客户中心">客户中心</a></li>
			<li><a href="/kb/" title="帮助中心">帮助中心</a></li>
			<li><a href="/download/" title="下载中心">下载中心</a></li>
			<li><a href="/reg/" title="注册">注册</a></li>		
		</ul>		
		
		<div class="clear"></div>
	
		<div class="full">
			<h1>500 Service Temporarily Unavailable</h1>
			<h2>啊哦，服务器开小差了！</h2>
		</div>
		
		<div class="clear"></div>
		
		<div class="news">
			<p>联系方式：service@moecn.net</p>
		</div>
		
		<div id="footer">
			<p>&copy; Copyright moeCN.net</p>
		</div>
	</div>
</body>
</html>
