<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{%block title%}	
	<title>moeCN-IPv4/IPv6 VPN Service</title>
	{%endblock%}	
	{%block meta%}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="moeCN" />
	<meta name="keywords" content="IPv6,OpenVPN,L2TP,PPTP,VPN" />	
	<meta name="Distribution" content="Global" />
	<meta name="Robots" content="index,follow" />
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css" media="screen" />
	{%endblock%}
	{%include "analytics.html"%}
</head>
<body>
	<div id="wrapper">
		{%block logo%}
		<div id="logo">
			<h1>moeCN.net</h1>
		</div>
		{%endblock%}
		{%block top%}
		<p id="top">IPv4/IPv6 VPN Service</p>
		{%endblock%}
		{%block menu%}		
		{%endblock%}
		
		{%block body%}
		{%endblock%}
		
		{%block news%}
		<div class="news">
			<p>联系方式：service@moecn.net</p>
		</div>
		{%endblock%}
		
		{%block footer%}
		<div id="footer">
			<p>&copy; Copyright moeCN.net</p>
		</div>
		{%endblock%}
	</div>
</body>
</html>
