{%extends "base.html"%}
	{%block title%}
	<title>moeCN-修改密码</title>
	{%endblock%}
		{%block menu%}
		<ul id="menu">
			<li><a href="/" title="首页">首页</a></li>
			<li><a class="current" href="/home/" title="客户中心">客户中心</a></li>	
			<li><a href="/kb/" title="帮助中心">帮助中心</a></li>
			<li><a href="/download/" title="下载中心">下载中心</a></li>
			<li><a href="/logout/" title="注销">注销</a></li>
		</ul>		
		{%endblock%}
		{%block body%}
		<div class="clear"></div>
	
		<div class="full">
		<h2><a href="/home/" >返回客户中心</a></h2>
			<h3>密码修改</h3>
			<form action="" method="POST">	
			<table>	
				<tr><th><label for="id_username">原密码：</label></th><td>{{form.old_password}}</td><td>{{form.old_password.errors}}</td></tr>				
				<tr><th><label for="id_username">新密码：</label></th><td>{{form.new_password}}</td><td>{{form.new_password.errors}}</td></tr>				
			</table>
			<input type="submit" name="submit" value="修改密码" />
			</form>			
			</br>
			</br>
		</div>
		
		<div class="clear"></div>
		{%endblock%}
