body { color: #303030; background: #ebebeb; font: .74em Arial, Verdana, sans-serif; text-align: center; line-height: 1.6em; margin: 2.5em 0; }
a { color: #214466; background: inherit; }
a:hover { color: #000; background: inherit; }
h2 {font-size: 1.4em;}
ul { margin: .6em 0; padding: 0;}
.clear {	clear: both; margin: 0 0 .5em 0; }

#wrapper { width: 90%; margin: 0 auto; text-align: left; }

#logo h1 {
	float: left;
	color: #000;
	background: inherit;
	margin: 0 0 .8em .3em;
	padding: 0;
	font-size: 2.4em;
}
	
#top {
	float: right;
	margin: 0 2em 0 0;
}
			
#menu { clear: both; margin: 0 2% 1em 1%; padding: 7px 0 7px 0; border-bottom: 1px solid #DCDBD5; border-top: 1px solid #DCDBD5;}
#menu li { display: inline; }
#menu a { padding: 3px 15px; margin: 0 3px 0 0; text-decoration: none; color: #808080; background: inherit; }
#menu a.current { color: #fff; background: #3D648A; }
#menu a:hover { background: #fff; color: #444;}

.column {
	float: left;
	width: 29%;
	margin: .3em 1.1%;
	background: #fff;
	color: #303030;
	padding: 1% 1%;
}	
.column h1 {
	margin: 1% 0;
	padding: 0;
	color: #214466;
	background: inherit;
	font-size: 1.5em;
}
		
.number {
	background: #ccc;
	padding: .6% 3%;
	color: #FFF;
}
		
.half {
	float: left;
	width: 45.6%;
	margin: 1em 1.1%;
	background: #fff;
	color: #303030;
	padding: .5% 1%;
}
.full {
	float: left;
	width: 94%;
	margin: 1em 1.1%;
	background: #fff;
	color: #303030;
	padding: .5% 2% 1% 2%;
}

#customers
  {
  width:100%;
  border-collapse:collapse;
  }

#customers td, #customers th 
  {
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
  width: 30px;
  }

#customers th 
  {
  font-size:1.1em;
  text-align:left;
  padding-top:4px;
  padding-bottom:3px;
  background-color:#A7C942;
  color:#ffffff;
  height: 18px;
  }

#customers tr.alt td 
  {
  color:#000000;
  background-color:#EAF2D3;
  }

#customers tr
  {
  height: 12px;
  }

 .errorlist li 
  {
        background-color: white;;
        color: red;
        display: block;
        font-size: 12px;
        margin: 0 0 3px;
        padding: 4px 5px;
  }

.date { border-top: 1px dotted #ccc; padding: 5px 0;}
			
.news { background: #fff; color: #808080; padding: .7em 1em; margin: 0 1%; }

#post p
{
		font-size: 16px;
}

#footer { margin: 2em 3%; text-align: right; }
