{%extends "home.html"%}
{%block content%}
		<div class="well">
			<form action="" method="POST">{% csrf_token %}
			<table>	
				<tr><th><label>原密码：</label></th><td>{{form.old_password}}</td><td>{{form.old_password.errors}}</td></tr>				
				<tr><th><label>新密码：</label></th><td>{{form.new_password}}</td><td>{{form.new_password.errors}}</td></tr>				
			</table>
			<input class="btn btn-primary" type="submit" name="submit" value="修改密码" />
			<input class="btn" type="reset" name="reset" value="重置" />
			</form>			
		</div>
		<h3><a href="/home/account/">返回</a></h3>
{%endblock%}
