{%extends "home.html"%}
{%block content%}
			<form action="" method="POST" class="form-horizontal">{% csrf_token %}
			    <fieldset>
			    <legend>修改VPN密码</legend>
			    <div class="control-group{%if form.old_password.errors%} error{%endif%}">
				<label class="control-label"><b>原密码</b></label>
				<div class="controls">
				    {{form.old_password}}
				    {%if form.old_password.errors%}
				    <div class="help-inline">
					{{form.old_password.errors}}
				    </div>
				    {%endif%}
				</div>
			    </div>
			    <div class="control-group{%if form.new_password.errors%} error{%endif%}">
				<label class="control-label"><b>新密码</b></label>
				<div class="controls">
				    {{form.new_password}}
				    {%if form.new_password.errors%}
				    <div class="help-inline">
					{{form.new_password.errors}}
				    </div>
				    {%endif%}
				</div>
			    </div>
			    <div class="form-actions">
				<input class="btn btn-primary" type="submit" name="submit" value="修改密码" />
				<input class="btn" type="reset" name="reset" value="重置" />
			    </div>
			    </fieldset>
			</form>			
		<h3><a href="/home/account/">返回</a></h3>
{%endblock%}
