{%extends "base.html"%}
	{%block title%}
	MOECN.NET-修改密码
	{%endblock%}
	 {%block nav%}
          <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="/home/">客户中心</a></li>
            <li><a href="/kb/">帮助中心</a></li>
            <li><a href="/download/">下载中心</a></li>
            <li><a href="/logout/">注销</a></li>
          </ul>
         {%endblock%}
		{%block container%}
		<div class="main">
		<h2>密码修改</h2>
		<hr>
			<form action="" method="POST">	
			{% csrf_token %}
			<table>	
				<tr><th><label for="id_username">原密码：</label></th><td>{{form.old_password}}</td><td>{{form.old_password.errors}}</td></tr>				
				<tr><th><label for="id_username">新密码：</label></th><td>{{form.new_password}}</td><td>{{form.new_password.errors}}</td></tr>				
			</table>
			<input class="btn btn-primary" type="submit" name="submit" value="修改密码" />
			<input class="btn" type="reset" name="reset" value="重置" />
			</form>			
		<h3><a href="/home/">返回客户中心</a></h3>
		</div>
		{%endblock%}
