{%extends "base.html"%}
	{%block title%}
	MOECN.NET-登录
	{%endblock%}
		{%block container%}
		<div class="main">
			<h2>客户登录</h2>
			<hr>
			<form action="/login/" method="POST">{% csrf_token %}
			    <div class="control-group{%if form.username.errors%} error{%endif%}">
				<label class="control-label"><b>用户名</b></label>
				<div class="controls">
				    {{form.username}}
				    {%if form.username.errors%}
				    <div class="help-inline">
					{{form.username.errors}}
				    </div>
				    {%endif%}
				</div>
			    </div>
			    <div class="control-group{%if form.password.errors%} error{%endif%}">
				<label class="control-label"><b>密码</b></label>
				<div class="controls">
				    {{form.password}}
				    {%if form.password.errors%}
				    <div class="help-inline">
					{{form.password.errors}}
				    </div>
				    {%endif%}
				</div>
			    </div>
			    <div class="form-actions">
				<input class="btn btn-primary" type="submit" id="submit" value="登录"/></input>
				<input class="btn" type="reset" id="reset" value="重置"/></input>
			    </div>
			</form>	
		</div>
		{%endblock%}
