{%extends "home.html"%}
{%block content%}
		<div class="well">
			<form action="" method="POST">{% csrf_token %}
			<table>	
			    <tr><th><label><b>VPN帐号：</b></label></th><td>{{form.username}}</td><td>{{form.username.errors}}</td></tr>				
			    <tr><th><label><b>VPN密码：</b></label></th><td>{{form.password}}</td><td>{{form.password.errors}}</td></tr>				
			    <tr><th><label><b>VPN方案：</b></label></th><td>{{form.plan}}</td><td>{{form.plan.errors}}</td></tr>
			    <tr><th><label><b>付款周期：</b></label></th><td>{{form.cycle}}</td><td>{{form.cycle.errors}}</td></tr>
			    <tr><th><label><b>优惠代码：</b></label></th><td>{{form.promotion}}</td><td>{{form.promotion.errors}}</td></tr>				
			</table>
			<input class="btn btn-primary" type="submit" name="submit" value="提交订单" />
			<input class="btn" type="reset" name="reset" value="重置" />
			</form>
		</div>
		<h3><a href="/home/order/">返回</a></h3>
{%endblock%}
