{%extends "base.html"%}
	{%block title%}
	MOECN.NET-用户注册
	{%endblock%}
		{%block container%}
		  <script src="/static/js/bootstrap-modal.js"></script>
		<div class="main">
			<h1>用户注册</h1>
			<hr>
			<form action="/reg/" method="POST">{% csrf_token %}
			<table>
				<tr><th><label for="id_username">用户名:</label></th><td>{{form.username}}</td><td>{{form.username.errors}}</td></tr>
				<tr><th><label for="id_email">Email:</label></th><td>{{form.email}}</td><td>{{form.email.errors}}</td></tr>
				<tr><th><label for="id_password">密码:</label></th><td>{{form.password}}</td><td>{{form.password.errors}}</td></tr>
			</table>
			<div id="rules" class="modal hide fade">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h2>服务条款</h2>
			  </div>
			  <div class="modal-body">
			    <h3>您可以：</h3>
			    <ul>
			      <li>通过<strong>IPv6</strong>连接VPN服务器，充分利用教育网IPv6带宽</li>
			      <li>使用Windows/Mac/Linux/Android/iOS设备连接VPN服务器 </li>
			      <li>通过OpenVPN连接VPN服务器(L2TP服务即将提供) </li>
			      <li>浏览所有在美国可以浏览而在中国不能浏览的网站 </li>
			    </ul>
			    <h3>您不可以：</h3>
			    <ul>
			      <li>与他人共享VPN帐号 </li>
			      <li>使用VPN进行<strong>任何P2P下载</strong>，包括但不限于<strong>BT/迅雷/电骡</strong>等等，否则将<strong>删除帐号</strong>(因为美国的版权保护政策不允许这么做)</li>
			    </ul>
			    <h3>承诺</h3>
			    <ul>
			      <li>保证不会超售，在满足成本的情况下尽可能增加服务器数量与质量以提供最稳定的服务 </li>
			      <li>尽可能提供最快的VPN连接，但是这也取决于您具体的网络状况，因此不能保证速度一直都是最快的 </li>
			      <li>如果可能，会将服务一直提供下去 </li>
			      <li><strong>72小时内</strong>不满意无条件退款 </li>
			    </ul>
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">不同意</a>
			    <input class="btn btn-primary" type="submit" id="submit" value="同意并继续"></input>
			  </div>
			</div>
			<p>{{form.captcha}}{{form.captcha.errors}}</p>
			<p><a href="#rules" class="btn btn-primary" data-toggle="modal"/>提交注册</a>
			<input class="btn" type="reset" id="reset" value="重置"/></input></p>
			</form>	
	    </div>
	    {%endblock%}
{%block script%}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="/static/js/bootstrap.min.js"></script>
{%endblock%}
