{%extends "base.html"%}
	{%block title%}
	MOECN.NET-用户注册
	{%endblock%}
		{%block container%}
		  <script src="/static/js/bootstrap-modal.js"></script>
		<div class="main">
			<h1>用户注册</h1>
			<hr>
			<div class="well">
			<form action="/reg/" method="POST">{% csrf_token %}
			<table>
				<tr><th><label for="id_username">用户名:</label></th><td>{{form.username}}</td><td>{{form.username.errors}}</td></tr>
				<tr><th><label for="id_email">Email:</label></th><td>{{form.email}}</td><td>{{form.email.errors}}</td></tr>
				<tr><th><label for="id_password">密码:</label></th><td>{{form.password}}</td><td>{{form.password.errors}}</td></tr>
			</table>
			<div id="rules" class="modal hide fade">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h2>服务条款</h2>
			  </div>
			  <div class="modal-body">
			      {{tos.content|safe}}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">不同意</a>
			    <input class="btn btn-primary" type="submit" id="submit" value="同意并继续"></input>
			  </div>
			</div>
			<p>{{form.captcha}}{{form.captcha.errors}}</p>
			<p><a href="#rules" class="btn btn-primary" data-toggle="modal"/>提交注册</a>
			<input class="btn" type="reset" id="reset" value="重置"/></input></p>
			</form>	
			</div>
	    </div>
	    {%endblock%}
{%block script%}
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="/static/js/bootstrap.min.js"></script>
{%endblock%}
