{%extends "home.html"%}
{%block content%}
    <table class="table">
	<tr>
	    <th>时间</th>
	    <th>主题</th>
	    <th>状态</th> 
	</tr>
	{%for thread in threads reversed%}
	<tr>
	    <td>{{thread.time}}</td>
	    <td><a href="/home/ticket/{{thread.id}}/">{{thread.subject}}</a></td>
	    {% if thread.status %}
	    <td><span class="label label-success">未读</span></td>
	    {% else %}
	    <td><span class="label">已读</span></td>
	    {% endif %}
	</tr>
	{%endfor%}
    </table>
{%endblock%}
