{%extends "home.html"%}
{%block content%}
<div class="well">
     <form action="" method="POST" class="form-horizontal">{% csrf_token %}
     <fieldset>
	 <legend>提交支持单</legend>
	 <div class="control-group{%if form.subject.errors%} error{%endif%}">
	     <label class="control-label"><b>主题</b></label>
	     <div class="controls">
		 {{form.subject}}
		 {%if form.subject.errors%}
		 <div class="help-inline">
		     {{form.subject.errors}}
		 </div>
		 {%endif%}
	     </div>
	 </div>
	 <div class="control-group{%if form.content.errors%} error{%endif%}">
	     <label class="control-label"><b>内容</b></label>
	     <div class="controls">
		 {{form.content}}
		 {%if form.content.errors%}
		 <div class="help-inline">
		     {{form.content.errors}}
		 </div>
		 {%endif%}
	     </div>
	 </div>
	 <div class="form-actions">
	    <input class="btn btn-primary" type="submit" name="submit" value="提交支持单" />
	    <input class="btn" type="reset" name="reset" value="重置" />
	 </div>
     </fieldset>
     </form>
 </div>
{%endblock%}
